# Data input: 29 307 197 line #dépend des fichiers

In [1]:
from time import sleep #pas exactement compris, sleep permet de suspendre l'exécution de qqch. Loop = boucles.
import sys

class Counter():
    def __init__(self, array, position = 0):
        self.length = len(array)
        self.position = position
        self.printpercent = 0
    
    def loop(self):
        self.position += 1
        percent = self.position / self.length
        percent = int (percent * 100)
        if self.printpercent != percent:
            self.printpercent = percent
            print("%s %%" % str(self.printpercent))

# 0_firstParsing.csv

In [2]:
import pandas as pd
from re import search, match

In [3]:
def getv(url, m):
    reg = '.*\/' + m + '\/([a-z_A-Zéèèêàâäüùôöç0-9+ \'\.\-%,]*)\/.*'  
    ismatch = match(reg, url)
    if ismatch:
        value = ismatch.group(1)
    else:
        value = 'NaN'
    return value
def get_mdic(url):
    mdic = {}
    mlist = ['zoekterm','beginjaar','eindjaar','rubriek','eadid','findaidstatus','dao','lang',
                     'inventarisnr','level','scan-index','foto','page']
    for m in mlist:
        k = m
        v = getv(url, m)
        mdic[k] = v
    return mdic

In [4]:
def parse(din):
    din.columns = ['visitorID','visitID','time','url']
    sl = []
    c = Counter(din)
    for i, r in din.iterrows():
        c.loop()
        rdic = {}
        reg = '.*\/zoekterm\/.*'
        if search(reg,r.url):
            rdic = get_mdic(r.url)
            rdic['visitID'] = r.visitID
            rdic['visitorID'] = r.visitorID
            rdic['time'] =  r.time
            rdic['url'] =  r.url
            sl.append(pd.Series(rdic))
    dout = pd.DataFrame(sl)
    return dout

In [5]:
import codecs #urllib.parse
import io
f = open("/users/researcher/Documents/Analyse/CATALOGUES/_SEARCH/search6moisindex.txt","r")
f = f.readlines()
x = io.open("/users/researcher/Documents/Analyse/CATALOGUES/_SEARCH/search6moisindexok.txt","w",encoding="utf8")
for line in f:
    #line = urllib.parse.unquote(line)
    #line = urllib.parse.unquote_plus(line)
    line = line.replace("Ã©","e") 
    line = line.replace("Ã¨","e")
    line = line.replace("Ã§","ç")
    x.write(line)

In [5]:
f = '/users/researcher/Documents/Analyse/CATALOGUES/_SEARCH/search6moisindexok.txt'
din = pd.read_csv(f, sep = '\t', header=None)
din.columns = ['visitorID','visitID','time','url']

In [6]:
len(din)

190785

In [7]:
din.head()

,visitorID,visitID,time,url
0,A86A2AC06F9B8292,649717,2016-01-01 01:28:28,search.arch.be/nl/zoeken-naar-archieven/zoekre...
1,A86A2AC06F9B8292,649717,2016-01-01 01:29:23,search.arch.be/nl/zoeken-naar-archieven/zoekre...
2,A86A2AC06F9B8292,649717,2016-01-01 01:30:38,search.arch.be/nl/zoeken-naar-archieven/zoekre...
3,AF8E50DF2C7A1B33,649730,2016-01-01 00:00:29,search.arch.be/fr/rechercher-des-archives/resu...
4,A7C63C026A0FB429,649779,2016-01-01 00:46:08,search.arch.be/nl/zoeken-naar-archieven/zoekre...

In [8]:
len(set(din.visitorID.tolist()))

24778

In [9]:
len(set(din.visitID.tolist()))

44245

In [10]:
din.to_csv('../_SEARCH/OUTPUT/0_firstParsingv4.csv')

# 1_secondParsing.csv

In [11]:
dout = parse(din)

1 %
2 %
3 %
4 %
5 %
6 %
7 %
8 %
9 %
10 %
11 %
12 %
13 %
14 %
15 %
16 %
17 %
18 %
19 %
20 %
21 %
22 %
23 %
24 %
25 %
26 %
27 %
28 %
29 %
30 %
31 %
32 %
33 %
34 %
35 %
36 %
37 %
38 %
39 %
40 %
41 %
42 %
43 %
44 %
45 %
46 %
47 %
48 %
49 %
50 %
51 %
52 %
53 %
54 %
55 %
56 %
57 %
58 %
59 %
60 %
61 %
62 %
63 %
64 %
65 %
66 %
67 %
68 %
69 %
70 %
71 %
72 %
73 %
74 %
75 %
76 %
77 %
78 %
79 %
80 %
81 %
82 %
83 %
84 %
85 %
86 %
87 %
88 %
89 %
90 %
91 %
92 %
93 %
94 %
95 %
96 %
97 %
98 %
99 %
100 %

In [22]:
dout.head(4)

,beginjaar,dao,eadid,eindjaar,findaidstatus,foto,inventarisnr,lang,level,page,rubriek,scan-index,time,url,visitID,visitorID,zoekterm
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 01:28:28,search.arch.be/nl/zoeken-naar-archieven/zoekre...,649717,A86A2AC06F9B8292,gotem
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 01:29:23,search.arch.be/nl/zoeken-naar-archieven/zoekre...,649717,A86A2AC06F9B8292,gotem
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 01:30:38,search.arch.be/nl/zoeken-naar-archieven/zoekre...,649717,A86A2AC06F9B8292,gotem
3,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 00:00:29,search.arch.be/fr/rechercher-des-archives/resu...,649730,AF8E50DF2C7A1B33,couthuin

In [15]:
dout.to_csv('../_SEARCH/OUTPUT/1_secondParsingv4.csv')

In [23]:
f = '../_SEARCH/OUTPUT/1_secondParsingv4.csv'
d = pd.read_csv(f, sep = ',', header=0, dtype=str, error_bad_lines=False)

In [24]:
d.head(1)

,Unnamed: 0,Unnamed: 0.1,beginjaar,dao,eadid,eindjaar,findaidstatus,foto,inventarisnr,lang,level,page,rubriek,scan-index,time,url,visitorID,visitID,zoekterm
0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 01:28:28,search.arch.be/nl/zoeken-naar-archieven/zoekre...,649717,A86A2AC06F9B8292,gotem

In [25]:
d = d.rename(columns = {'visitorID':'visitID','visitID':'visitorID'})
d = d.drop('Unnamed: 0', axis = 1)

In [26]:
d.head(50)

,Unnamed: 0.1,beginjaar,dao,eadid,eindjaar,findaidstatus,foto,inventarisnr,lang,level,page,rubriek,scan-index,time,url,visitID,visitorID,zoekterm
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 01:28:28,search.arch.be/nl/zoeken-naar-archieven/zoekre...,649717,A86A2AC06F9B8292,gotem
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 01:29:23,search.arch.be/nl/zoeken-naar-archieven/zoekre...,649717,A86A2AC06F9B8292,gotem
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 01:30:38,search.arch.be/nl/zoeken-naar-archieven/zoekre...,649717,A86A2AC06F9B8292,gotem
3,3,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 00:00:29,search.arch.be/fr/rechercher-des-archives/resu...,649730,AF8E50DF2C7A1B33,couthuin
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 00:46:08,search.arch.be/nl/zoeken-naar-archieven/zoekre...,649779,A7C63C026A0FB429,dreesens
5,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 00:50:10,search.arch.be/fr/rechercher-des-archives/resu...,649783,A41D612712A36FEB,Jonathan paleovrisotis
6,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 00:50:33,search.arch.be/fr/rechercher-des-archives/resu...,649783,A41D612712A36FEB,Jonathan paleovrisotis
7,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 00:50:35,search.arch.be/fr/rechercher-des-archives/resu...,649783,A41D612712A36FEB,Jonathan paleovrisotis
8,8,NaN,1,NaN,NaN,verified-complete-draft,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 01:00:41,search.arch.be/nl/zoeken-naar-archieven/zoekre...,649796,A4EB7F66122DFB4B,antwerpen
9,9,NaN,1,NaN,NaN,verified-complete-draft,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 01:08:05,search.arch.be/nl/zoeken-naar-archieven/zoekre...,649796,A4EB7F66122DFB4B,borsbeek
10,10,NaN,1,NaN,NaN,verified-complete-draft,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 01:08:42,search.arch.be/nl/zoeken-naar-archieven/zoekre...,649796,A4EB7F66122DFB4B,borsbeek
11,11,2016,NaN,NaN,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 02:40:05,search.arch.be/nl/zoeken-naar-archieven/zoekre...,649851,CFB84B14159189B5,Trouw Christelle Van Keymeulen
12,12,archange,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 04:12:22,search.arch.be/fr/rechercher-des-archives/resu...,649867,0889D5E4B3C17F0B,deffrenne
13,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 06:47:07,search.arch.be/fr/rechercher-des-archives/resu...,649939,4C8060AF93345C2C,digital
14,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 08:17:22,search.arch.be/fr/rechercher-des-archives/resu...,649939,4C8060AF93345C2C,digital
15,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 07:13:27,search.arch.be/fr/rechercher-des-archives/resu...,649964,F309354C858687A2,CHENEE
16,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 07:23:05,search.arch.be/fr/rechercher-des-archives/resu...,649964,F309354C858687A2,Albert
17,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 07:23:32,search.arch.be/fr/rechercher-des-archives/resu...,649964,F309354C858687A2,Specht
18,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 07:28:20,search.arch.be/fr/rechercher-des-archives/resu...,649964,F309354C858687A2,Specht
19,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 07:32:41,search.arch.be/fr/rechercher-des-archives/resu...,649964,F309354C858687A2,Epschied
20,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 07:32:59,search.arch.be/fr/rechercher-des-archives/resu...,649964,F309354C858687A2,Laubach
21,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 07:35:23,search.arch.be/fr/rechercher-des-archives/resu...,649964,F309354C858687A2,Specht
22,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 07:38:04,search.arch.be/fr/rechercher-des-archives/resu...,649964,F309354C858687A2,Specht
23,23,1100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 07:39:27,search.arch.be/fr/rechercher-des-archives/resu...,649964,F309354C858687A2,Specht
24,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 07:40:42,search.arch.be/fr/rechercher-des-archives/resu...,649964,F309354C858687A2,Desirotte
25,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 08:29:17,search.arch.be/fr/rechercher-des-archives/resu...,649964,F309354C858687A2,CHENEE
26,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 08:30:40,search.arch.be/fr/rechercher-des-archives/resu...,649964,F309354C858687A2,CHENEE
27,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 07:40:08,search.arch.be/fr/rechercher-des-archives/resu...,650017,C2E4C5ADDCF1154D,Thiry
28,28,NaN,1,NaN,01830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 08:08:47,search.arch.be/fr/rechercher-des-archives/resu...,650056,52C79F8010079D2C,registres paroissiaux paturages
29,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 08:02:50,search.arch.be/nl/zoeken-naar-archieven/zoekre...,650067,077572AF91C829C8,contracten kortrijk
30,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 08:36:36,search.arch.be/nl/zoeken-naar-archieven/zoekre...,650168,A17A6FB7F1ED6FA4,NaN
31,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 08:46:57,search.arch.be/nl/zoeken-naar-archieven/zoekre...,650168,A17A6FB7F1ED6FA4,NaN
32,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 09:26:16,search.arch.be/nl/zoeken-naar-archieven/zoekre...,650168,A17A6FB7F1ED6FA4,NaN
33,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 09:34:08,search.arch.be/nl/zoeken-naar-archieven/zoekre...,650168,A17A6FB7F1ED6FA4,NaN
34,34,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 08:47:31,search.arch.be/fr/rechercher-des-archives/resu...,650200,4C235B8B1F9CB4AE,ruiselede
35,35,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 08:54:40,search.arch.be/fr/rechercher-des-archives/resu...,650200,4C235B8B1F9CB4AE,DENtergem
36,36,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 08:57:18,search.arch.be/fr/rechercher-des-archives/resu...,650200,4C235B8B1F9CB4AE,deurle
37,37,1800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 08:59:37,search.arch.be/fr/rechercher-des-archives/resu...,650249,8CB5097DE971ED30,wallez
38,38,1800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 09:00:15,search.arch.be/fr/rechercher-des-archives/resu...,650249,8CB5097DE971ED30,wallez
39,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 09:20:22,search.arch.be/nl/zoeken-naar-archieven/zoekre...,650367,30F9968980E9DC0D,NaN
40,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 09:22:08,search.arch.be/nl/zoeken-naar-archieven/zoekre...,650378,7953D6C0CE69DD0C,bochmans
41,41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 09:28:00,search.arch.be/fr/rechercher-des-archives/resu...,650406,2FAB6E74368015C1,de billehe
42,42,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 09:28:32,search.arch.be/fr/rechercher-des-archives/resu...,650406,2FAB6E74368015C1,de billehe
43,43,1900,NaN,NaN,1913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 09:45:05,search.arch.be/fr/rechercher-des-archives/resu...,650470,B7F229AB55412896,photo du village de Bellefontaine
44,44,1900,NaN,NaN,1913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 09:46:10,search.arch.be/fr/rechercher-des-archives/resu...,650470,B7F229AB55412896,photo+du+village+de+Bellefontaine
45,45,1900,NaN,NaN,1913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 09:46:17,search.arch.be/fr/rechercher-des-archives/resu...,650470,B7F229AB55412896,photo du village de Bellefontaine
46,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 09:40:56,search.arch.be/fr/rechercher-des-archives/resu...,650483,C6A73764083DFABD,duyckaerts
47,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 09:42:10,search.arch.be/fr/rechercher-des-archives/resu...,650483,C6A73764083DFABD,duyckaerts
48,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 09:59:21,search.arch.be/fr/rechercher-des-archives/resu...,650570,A2CA2BF1E7B4CA04,ROMMEL
49,49,1800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 09:59:42,search.arch.be/fr/rechercher-des-archives/resu...,650570,A2CA2BF1E7B4CA04,ROMMEL

In [27]:
d.to_csv('../_SEARCH/OUTPUT/1_secondParsingv4.csv')

# 2_queriesVisits_raw.csv

### Count of visitors / visits

In [28]:
len(list(set(d.visitID.tolist())))

44245

In [29]:
len(list(set(d.visitorID.tolist())))

24778

### Merge data

In [30]:
#f = '../_SEARCH/OUTPUT/1_secondParsing3.csv'
#d = pd.read_csv(f, sep = ',', header=0, dtype=str, error_bad_lines=False)
d = d[['visitorID','zoekterm','time','visitID']] # time is kind of an HTTP request identifier

In [31]:
d.head()

          visitorID  zoekterm                 time visitID
0  A86A2AC06F9B8292     gotem  2016-01-01 01:28:28  649717
1  A86A2AC06F9B8292     gotem  2016-01-01 01:29:23  649717
2  A86A2AC06F9B8292     gotem  2016-01-01 01:30:38  649717
3  AF8E50DF2C7A1B33  couthuin  2016-01-01 00:00:29  649730
4  A7C63C026A0FB429  dreesens  2016-01-01 00:46:08  649779

In [32]:
dout = d.copy()

In [33]:
len(list(set(dout.zoekterm.tolist())))

50351

In [34]:
len(list(set(dout.time.tolist())))

188127

In [35]:
len(list(set(dout.visitID.tolist())))

44245

In [36]:
len(list(set(dout.visitorID.tolist())))

24778

In [39]:
len(d)

190728

In [40]:
d.head()

          visitorID  zoekterm                 time visitID
0  A86A2AC06F9B8292     gotem  2016-01-01 01:28:28  649717
1  A86A2AC06F9B8292     gotem  2016-01-01 01:29:23  649717
2  A86A2AC06F9B8292     gotem  2016-01-01 01:30:38  649717
3  AF8E50DF2C7A1B33  couthuin  2016-01-01 00:00:29  649730
4  A7C63C026A0FB429  dreesens  2016-01-01 00:46:08  649779

### Compter toutes les occurrences similaires

In [41]:
len(set(d.zoekterm.tolist()))

50351

### First duplicate removing to save time

In [42]:
d = d[['visitID','zoekterm','time']]

In [43]:
d = d.groupby(['visitID','zoekterm']).count()

In [44]:
d.head()

                          time
visitID zoekterm
1000034 steennatie           2
1000060 janssens             1
1000097 abbaye d'aulne       1
1000121 albin De Vuyst       1
        matheus De Vuyst     4

In [45]:
len(d)

77034

In [46]:
d.reset_index(inplace=True)
d = d.rename(columns = {'time':'queries_count'})

In [47]:
d.head(29)

    visitID                          zoekterm  queries_count
0   1000034                        steennatie              2
1   1000060                          janssens              1
2   1000097                    abbaye d'aulne              1
3   1000121                    albin De Vuyst              1
4   1000121                  matheus De Vuyst              4
5   1000121                  matheus+De+Vuyst              4
6   1000125                          MEDAERTS              2
7   1000125                    MEDAERTS Franz              2
8   1000126                 naissance à sugny              1
9   1000138                     de waegenaere              1
10  1000138                     de+waegenaere              1
11  1000164                           Charlet              2
12  1000188                              dave              2
13  1000270  administrateur territorial congo              1
14  1000270  administrateur+territorial+congo              9
15  1000270                             congo              1
16  1000282                            muller              3
17  1000315                cornelia verhoeven              1
18  1000315                cornelia+verhoeven              1
19  1000342              Mariages Esrtaimpuis              1
20  1000342                          mariages              2
21  1000351                        loof felix              1
22  1000351                        loof+felix              2
23  1000364                            flaman              5
24  1000383                               coo              2
25  1000383                         rechtbank              3
26  1000391                    kohier penning              1
27  1000391                    kohier+penning              1
28  1000391           kohieren 100ste penning              2

In [48]:
len(list(set(d.visitID.tolist()))) # we also lost some visitors, probably blank cells

42187

In [49]:
len(list(set(d.zoekterm.tolist()))) # we also lost some visitors, probably blank cells

50350

In [50]:
d.queries_count.sum()
# there is a lost that I cannot explain, it is the same list with 'time", "visitID", etc. , probably blank cells

182490

In [51]:
d.to_csv('../_SEARCH/OUTPUT/2_queriesVisits_rawv4.csv')

## 3_queriesVisits_normalised.csv

In [60]:
from re import sub
import re

def clean_text(text):
    if re.search("^[0-9\-\.\/]*$", text) != None : #on cherche à ne pas prendre les requêtes composées seulement de chiffres
        text = 'NULL'
    elif text != 'NaN':
        text = str(text)
        text = text.lower()
        text = sub('[^a-zéèèêàâäüùôöç0-9\']', ' ', text) #pour enlever les '+' ? et màj pour prendre en compte les accents*$
        text = str.replace(text,'é','e') #un peu laborieux mais fait le travail
        text = str.replace(text,'è','e')
        text = str.replace(text,'ê','e')
        text = str.replace(text,'à','a')
        text = str.replace(text,'â','a')
        text = str.replace(text,'û','u')
        text = str.replace(text,'ù','u')
        text = str.replace(text,'ô','o')
        text = str.replace(text,'ç','c')
        text = str.replace(text,'ö','o')
        text = str.replace(text,'ë','e')
        text = str.replace(text,'\'',' ')
        text = str.replace(text,'  ',' ')
        text = str.replace(text,'   ',' ')
        text = text.strip()
        #tlist = text.split(' ')
        #tlist.sort()
        #text = ' '.join(tlist)
    return text

In [61]:
d = pd.read_csv('../_SEARCH/OUTPUT/2_queriesVisits_rawv4.csv')

In [62]:
d = d[['visitID','zoekterm','queries_count']]

In [63]:
d['normalised_zoekterm'] = ''
subcount = 0
count = 0
for i, r in d.iterrows():
    subcount += 1
    if subcount == 2000:
        count += subcount
        print(count)
        subcount = 0
    d.ix[i,'normalised_zoekterm'] = clean_text(r.zoekterm)
    
d.head()

2000
4000
6000
8000
10000
12000
14000
16000
18000
20000
22000
24000
26000
28000
30000
32000
34000
36000
38000
40000
42000
44000
46000
48000
50000
52000
54000
56000
58000
60000
62000
64000
66000
68000
70000
72000
74000
76000

   visitID          zoekterm  queries_count normalised_zoekterm
0  1000034        steennatie              2          steennatie
1  1000060          janssens              1            janssens
2  1000097    abbaye d'aulne              1      abbaye d aulne
3  1000121    albin De Vuyst              1      albin de vuyst
4  1000121  matheus De Vuyst              4    matheus de vuyst

In [64]:
d.to_csv("../_SEARCH/OUTPUT/3_queriesVisits_normalisedv4.csv")

In [65]:
d.head(200)

,visitID,zoekterm,queries_count,normalised_zoekterm
0,1000034,steennatie,2,steennatie
1,1000060,janssens,1,janssens
2,1000097,abbaye d'aulne,1,abbaye d aulne
3,1000121,albin De Vuyst,1,albin de vuyst
4,1000121,matheus De Vuyst,4,matheus de vuyst
5,1000121,matheus+De+Vuyst,4,matheus de vuyst
6,1000125,MEDAERTS,2,medaerts
7,1000125,MEDAERTS Franz,2,medaerts franz
8,1000126,naissance à sugny,1,naissance a sugny
9,1000138,de waegenaere,1,de waegenaere
10,1000138,de+waegenaere,1,de waegenaere
11,1000164,Charlet,2,charlet
12,1000188,dave,2,dave
13,1000270,administrateur territorial congo,1,administrateur territorial congo
14,1000270,administrateur+territorial+congo,9,administrateur territorial congo
15,1000270,congo,1,congo
16,1000282,muller,3,muller
17,1000315,cornelia verhoeven,1,cornelia verhoeven
18,1000315,cornelia+verhoeven,1,cornelia verhoeven
19,1000342,Mariages Esrtaimpuis,1,mariages esrtaimpuis
20,1000342,mariages,2,mariages
21,1000351,loof felix,1,loof felix
22,1000351,loof+felix,2,loof felix
23,1000364,flaman,5,flaman
24,1000383,coo,2,coo
25,1000383,rechtbank,3,rechtbank
26,1000391,kohier penning,1,kohier penning
27,1000391,kohier+penning,1,kohier penning
28,1000391,kohieren 100ste penning,2,kohieren 100ste penning
29,1000391,penningkohieren,1,penningkohieren
...,...,...,...,...
170,1002489,haine,2,haine
171,1002489,la montagne,2,la montagne
172,1002489,la montagne oud heverlee,1,la montagne oud heverlee
173,1002489,la+montagne+oud+heverlee,2,la montagne oud heverlee
174,1002489,sint kwintens leuven,2,sint kwintens leuven
175,1002489,sint lambertus heverlee,3,sint lambertus heverlee
176,1002489,sint+kwintens+leuven,1,sint kwintens leuven
177,1002489,spaans dak,1,spaans dak
178,1002512,Uytterhoeven,2,uytterhoeven
179,1002585,Delangre Leopold,1,delangre leopold
180,1002589,fort saint-heribert,1,fort saint heribert
181,1002589,saint heribert,1,saint heribert
182,1002602,LOFFLER,1,loffler
183,1002604,dommages de guerre,2,dommages de guerre
184,1002626,Tiri,4,tiri
185,1002643,Gouy lez pieton,1,gouy lez pieton
186,1002643,Gouy lez pieton rue champetre,2,gouy lez pieton rue champetre
187,1002713,parochieregisters,1,parochieregisters
188,1002721,vanhyfte,2,vanhyfte
189,1002733,troussart,1,troussart
190,1002752,leuven,5,leuven
191,1002755,kalken,2,kalken
192,1002763,Van keer,1,van keer
193,1002763,Van+keer,1,van keer
194,1002827,1628,1,NULL
195,1002827,chronique 1628,1,chronique 1628
196,1002827,chronique dite de 1628,1,chronique dite de 1628
197,1002827,chronique manuscrite,1,chronique manuscrite
198,1002827,chronique+dite+de+1628,1,chronique dite de 1628
199,1002827,chronique+manuscrite,1,chronique manuscrite

## Remove "query-visitor" duplicate

In [67]:
d = pd.read_csv("../_SEARCH/OUTPUT/3_queriesVisits_normalisedv4.csv")
d = d.drop('Unnamed: 0', axis = 1)
#d = d.drop('Unnamed: 0.1', axis = 1)

In [68]:
d.head(10)

   visitID           zoekterm  queries_count normalised_zoekterm
0  1000034         steennatie              2          steennatie
1  1000060           janssens              1            janssens
2  1000097     abbaye d'aulne              1      abbaye d aulne
3  1000121     albin De Vuyst              1      albin de vuyst
4  1000121   matheus De Vuyst              4    matheus de vuyst
5  1000121   matheus+De+Vuyst              4    matheus de vuyst
6  1000125           MEDAERTS              2            medaerts
7  1000125     MEDAERTS Franz              2      medaerts franz
8  1000126  naissance à sugny              1   naissance a sugny
9  1000138      de waegenaere              1       de waegenaere

In [69]:
len(d)

77034

In [70]:
d.queries_count.sum()

182490

In [71]:
len(list(set(d.normalised_zoekterm.tolist())))

37400

In [72]:
d = d.groupby(['visitID','normalised_zoekterm']).sum()
d.reset_index(inplace=True)
d.head(30)

    visitID                normalised_zoekterm  queries_count
0    649717                              gotem              3
1    649730                           couthuin              1
2    649779                           dreesens              1
3    649783             jonathan paleovrisotis              3
4    649796                          antwerpen              1
5    649796                           borsbeek              2
6    649851     trouw christelle van keymeulen              1
7    649867                          deffrenne              1
8    649939                            digital              2
9    649964                             albert              1
10   649964                             chenee              3
11   649964                          desirotte              1
12   649964                           epschied              1
13   649964                            laubach              1
14   649964                             specht              5
15   650017                              thiry              1
16   650056    registres paroissiaux paturages              1
17   650067                contracten kortrijk              1
18   650200                          dentergem              1
19   650200                             deurle              1
20   650200                          ruiselede              1
21   650249                             wallez              2
22   650378                           bochmans              1
23   650406                         de billehe              2
24   650470  photo du village de bellefontaine              3
25   650483                         duyckaerts              2
26   650570                             rommel             21
27   650570                            schaken              3
28   650579                   lorenzi giuseppe              1
29   650595                              akten             11

In [73]:
len(d)

67426

In [74]:
d.queries_count.sum() # need to be clarified

181455

In [75]:
len(list(set(d.visitID.tolist()))) # ok, the situation is still fine

42046

In [76]:
d.to_csv('../_SEARCH/OUTPUT/4_uniquesQueriesVisits_normalisedv4.csv')

# 5_inputCluster.txt

In [77]:
input = d[['normalised_zoekterm']]

In [78]:
input.to_csv('../_SEARCH/OUTPUT/5_inputClusterV4.csv', index=False, header=False)

In [79]:
input.head()

      normalised_zoekterm
0                   gotem
1                couthuin
2                dreesens
3  jonathan paleovrisotis
4               antwerpen

# 6_clustersIndex.csv

In [80]:
import os, sys, getopt, io
import json, random, jellyfish
from bs4 import BeautifulSoup as bs
from collections import defaultdict
from jellyfish import levenshtein_distance as ld, jaro_distance

### étape ci-dessous : ouput pas 100% fiable, ça a été fait en passant en commentaires le "else" qui pose problème

In [104]:
import re, codecs, os, sys, getopt, io
import json, random, jellyfish
from urllib.request import urlopen
from bs4 import BeautifulSoup as bs
from collections import defaultdict
from jellyfish import levenshtein_distance as ld, jaro_distance

content = [line.rstrip('\n') for line in io.open('../_SEARCH/OUTPUT/5_inputClusterV4.csv')]

result = open('/Users/researcher/Documents/Analyse/CATALOGUES/_SEARCH/output/6_Search_clusters-85_ANNE.txt',"a")

Clusters = []
Centroid = []
Scores = []
for string in content:
    Matched = 0

    if len(Clusters) == 0:
        Clusters.append([string])
        Centroid.append([string])
        Scores.append([])
        continue

    for ClustNum in range(len(Clusters)):
        Dist = jellyfish.jaro_distance(string, Centroid[ClustNum][0])

        if Dist > 0.85:
            Clusters[ClustNum].append(string)
       
            if len(Scores[ClustNum]) == 0:
                Scores[ClustNum].append(Dist)

            #else:
             #   if Dist > Scores[ClustNum]:
              #    Scores[ClustNum][0] = Dist
               #     Centroid[ClustNum][0] = string

            Matched = 1
            break

    if Matched ==0:       
        Clusters.append([string])
        Centroid.append([string])
        Scores.append([])
        
size = len(Clusters)

x = 0

while x < size:
    cluster = Clusters[x]
    centroid = Centroid[x]
    
    list = []
    for cl in cluster:
        list.append(str(cl) + '\t' + str(centroid[0]))
    
    result.write('\n'.join(list))
    result.write('\n')

    x = x+1
                    
result.close()

# 7_clusterDataReconciliation

In [93]:
d = pd.read_csv('../_SEARCH/OUTPUT/4_uniquesQueriesVisits_normalisedv4.csv')

In [95]:
d = d.drop('Unnamed: 0', axis = 1)

In [96]:
d.head()

   visitID     normalised_zoekterm  queries_count
0   649717                   gotem              3
1   649730                couthuin              1
2   649779                dreesens              1
3   649783  jonathan paleovrisotis              3
4   649796               antwerpen              1

In [89]:
clu = pd.read_csv('/Users/researcher/Documents/Analyse/CATALOGUES/_SEARCH/output/6_Search_clusters-88_v4.txt', sep='\t', header=None)

In [90]:
clu.columns = ['queries','clusters']

In [91]:
clu.head()

  queries clusters
0   gotem    gotem
1   gotem    gotem
2  gottem    gotem
3  gottem    gotem
4  gottem    gotem

In [92]:
len(set(clu.queries.tolist()))

37399

In [145]:
len(set(clu.clusters.tolist()))

11637

In [158]:
def get_cluster(clu, text):
    out = ""
    try:
        out = clu.loc[clu.queries == text, 'clusters'].values[0]
    except:
        out = "NAN (cluster not found)"
    return out

In [161]:
d['cluster'] = ""

In [169]:
c = Counter(d)
for i, r in d.iterrows():
    c.loop()
    
    text = r.normalised_zoekterm
    d.loc[i, 'cluster'] = get_cluster(clu, text)

100 %

In [170]:
len(set(d.cluster.tolist()))

11637

In [174]:
d = d[['cluster','queries_count','normalised_zoekterm','visitID']]

In [178]:
d.sort_values(by='cluster')

,cluster,queries_count,normalised_zoekterm,visitID
43539,0 0137,2,0 0137,1566570
16541,0 277 000,1,0 277 000,999074
25126,000,6,000,1170617
12959,0002 001 00217 000 0 0001,1,0500 000 02531 000 0 0003,923985
20287,0002 001 00217 000 0 0001,1,0001 072 00007 000 0 0003,1074043
31344,0002 001 00217 000 0 0001,1,0500 000 02358 000 0 0001,1297143
4731,0002 001 00217 000 0 0001,2,0001 078 00004 000 0 0002,752123
4733,0002 001 00217 000 0 0001,2,0500 000 02190 000 0 0001 r,752201
29550,0002 001 00217 000 0 0001,2,0001 132 00003 000 0 0001,1261297
50987,0002 001 00217 000 0 0001,2,0001 040 00001 000 0 0001,1735044
19928,0002 001 00217 000 0 0001,3,0236 000 01070 000 0 0452,1068852
33127,0002 001 00217 000 0 0001,1,513 9000 000 01241 000 0 0002 r,1339269
18154,0002 001 00217 000 0 0001,2,0900 000 00110 000 0 0203 r,1031264
27658,0002 001 00217 000 0 0001,1,6000 000 00036 000 0 0001,1220974
19295,0002 001 00217 000 0 0001,1,5 000 00 00420 000b 0161,1055588
36282,0002 001 00217 000 0 0001,2,0698 000 01006 000 0 0001,1411417
2470,0002 001 00217 000 0 0001,2,9000 000 01378 000 0 0001,704985
1309,0002 001 00217 000 0 0001,3,0269 000 00001 000 b 0001 r,679498
54595,0002 001 00217 000 0 0001,2,510 0002 000 01256 000 0 0001,1815037
42384,0002 001 00217 000 0 0001,1,0002 001 00217 000 0 0001,1542355
51003,0002 001 00217 000 0 0001,1,5000 000 00601 000 0 0114 a,1735259
51926,0002 001 00217 000 0 0001,12,0308 000 00009 000 r 001,1756426
32441,0002 001 00217 000 0 0001,1,0394 000 00609 000 0 0500,1322273
11997,0002 001 00217 000 0 0001,1,0 500 000 01021 000 0 0001,905055
52759,0002 001 00217 000 0 0001,5,0500 000 01211 000 0 0001 r,1773691
16646,00stkamp,9,oostkamp,1001064
47623,00stkamp,5,oostkamp,1662312
46923,00stkamp,2,oostkamp,1643557
46901,00stkamp,2,oostkamp,1642980
47458,00stkamp,6,oostkamp,1658177
...,...,...,...,...
42758,zwaluwe,6,zwaluwe,1550368
2318,zwangssoldat,1,zwangssoldaten,701691
2317,zwangssoldat,1,zwangssoldat,701691
20674,zwarte dood,1,zwarte dood,1081274
36793,zwartzusters,1,zwartzusters,1422187
20367,zwijndrecht,1,zwijnaarde,1075361
14951,zwijndrecht,1,zijde,964497
48037,zwijndrecht,2,zwijndrecht kapelstraat,1671348
48036,zwijndrecht,2,zwijndrecht,1671348
46313,zwijndrecht,6,zwijndrecht,1627800
19988,zwijndrecht,1,zwijnaarde,1069700
24416,zwijndrecht,3,zwijndrecht,1157993
3545,zwijndrecht,1,zwijndrecht,728117
20445,zwijndrecht,6,zwijnaarde,1076798
43744,zwijndrecht,3,su zwinjdrecht,1570175
28448,zwijndrecht,1,zwijndrecht,1239027
43746,zwijndrecht,1,zwinjdrecht,1570175
3792,zwijndrecht,6,zwijndrecht,732849
2415,zwijndrecht,1,zwijnaarde,703301
18312,zwijnland,2,wijnants,1034836
53918,zwijnland,4,winand,1800653
1469,zwijnland,3,wijnants,683622
24216,zwijnland,2,wijnants,1153881
43103,zwijnland,2,zwin,1557487
24765,zwijnland,3,winand,1164138
17658,zwijnland,2,wijnants,1021126
37397,zwijnland,2,zwin,1434744
9273,zwijnland,1,zwijnland,850430
18511,zwijnland,1,zwin,1039214
51080,zwzvzzele,1,zwzvzzele,1736770

In [179]:
d.to_csv('output/7_clusterDataReconciliation.csv')